DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=null
DB_NAME=nama-database-anda
DB_DIALECT=mysql
SYNC_DB=true

# Ubah jadi string yang rahasia
JWT_SECRET=jwt-secret 
JWT_EXPIRE=1d

# Ubah port '8080' ini sesuai dengan port yang digunakan pada frontend
CLIENT_URL=http://localhost:8080

# Ubah port '3000' ini sesuai dengan port yang digunakan untuk backendw
PORT=3000
